.leftMenu {
    border-right: 1px solid #222;
    padding: 12px;
    margin-right: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
}
.link{
    display: flex;
    gap: 24px;
    height: 40px;
    align-items: center;
    padding: 0 12px;
    border-radius: 10px;
    font-size: 14px;
    &:hover {
        background: rgba(255,255,255,0.3);
    }
}

.divider{
    height: 1px;
    width: 100%;
    background: rgba(255,255,255,0.2);

    margin: 12px 0;
}